rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Homologacao temporaria sem Authentication. Nao usar dados reais.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
